In [1]:


people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [10]:
import pandas as pd
import xlrd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.DataFrame(people)

In [12]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
 df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [16]:
filt = df['last'] == 'Doe'

In [17]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [18]:
df.loc[filt,'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [19]:
#tild sybol before filt negates its value i.e it will give ans for false valued ones
df.loc[~filt,'email']

0    CoreyMSchafer@gmail.com
Name: email, dtype: object

In [20]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [21]:
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object