In [1]:


people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [14]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, CoreyMSchafer@gmail.com to JohnDoe@email.com
Data columns (total 2 columns):
first    3 non-null object
last     3 non-null object
dtypes: object(2)
memory usage: 72.0+ bytes

In [20]:
df.set_index('email', inplace=True)

KeyError: "None of ['email'] are in the columns"

In [16]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [23]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [28]:


df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe